# Node.js dependencies
/node_modules

# Compiled files
/build
/dist

# Environment variables
.env

# Python virtual environment
/venv

# Editor and IDE files
.vscode
.idea

# macOS
.DS_Store

# Windows
Thumbs.db
